@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
}
html{
 box-sizing: border-box;
 scroll-snap-type: y mandatory;
 font-family: Verdana, Geneva, Tahoma, sans-serif
}

.feed::-webkit-scrollbar{
  display: none;
}

.feed{
  -ms-overflow-style: none;
  scrollbar-width: none;
}